

<body>
	<div class="table-container>">
	<h1  class =" heading">My Appointment Details</h1>
	<table class="table">
		<thead>
			<tr>
			<th>Doctor Name</th>
			<th>Appointment Date</th>
			<th>Appointment Start Time</th>
			<th>Appointment End Time</th>
			<th>Price</th>
			<th>Cancel Booking</th>
			</tr>
		</thead>
		<tbody>
		<tr>

			<td data-level="name">aditya raj</td>
			<td data-level="date">30- nov -2022</td>
			<td data-level="time">09:30</td>
			<td data-level="number">10:30</td>
			<td data-level="address">bauliya road ,sasaram</td>
			<td data-level="#"><a href="#" class ="btn">Cancel</a></td>
		</tr>
		<tr>

			<td data-level="name">aditya raj</td>
			<td data-level="date">30- nov -2022</td>
			<td data-level="time">09:30</td>
			<td data-level="number">10:30</td>
			<td data-level="address">bauliya road ,sasaram</td>
			<td data-level="#"><a href="#" class ="btn">Cancel</a></td>
		</tr>
		<tr>

			<td data-level="name">aditya raj</td>
			<td data-level="date">30- nov -2022</td>
			<td data-level="time">09:30</td>
			<td data-level="number">10:30</td>
			<td data-level="address">bauliya road ,sasaram</td>
			<td data-level="#"><a href="#" class ="btn">Cancel</a></td>
		</tr>
		<tr>

			<td data-level="name">aditya raj</td>
			<td data-level="date">30- nov -2022</td>
			<td data-level="time">09:30</td>
			<td data-level="number">10:30</td>
			<td data-level="address">bauliya road ,sasaram</td>
			<td data-level="#"><a href="#" class ="btn">Cancel</a></td>
		</tr>
		<tr>

			<td data-level="name">aditya raj</td>
			<td data-level="date">30- nov -2022</td>
			<td data-level="time">09:30</td>
			<td data-level="number">10:30</td>
			<td data-level="address">bauliya road ,sasaram</td>
			<td data-level="#"><a href="#" class ="btn">Cancel</a></td>
		</tr>
		</tbody>
	</table>

	</div>
</body>
















<!-- <div class="text-center">
    <h1 class="h11 mt-2">View Booking Status</h1>
</div>

<div class="row text-center  mt-4">

    <div class="col-md-1">
        <h1  class="ddd">Id</h1>
    </div>
    <div class="col-md-1">
        <h1 class="ddd">UserId</h1>
    </div>
    <div class="col-md-2">
        <h1 class="ddd">Pickup_Location</h1>
    </div>
    <div class="col-md-2">
        <h1 class="ddd">Dropof_Location</h1>
    </div>

    <div class="col-md-1">
        <h1 class="ddd">Date</h1>
    </div>
    <div class="col-md-2">
        <h1 class="ddd">Time</h1>
    </div>
    <div class="col-md-2">
        <h1 class="ddd">Cancel Booking</h1>
    </div>
</div>

<div *ngFor="let c of this.bookings"  class="row text-center mt-2">

    <div *ngIf="user.id==c.userId" class="col-md-1">
        <p>{{c.id}}</p>
    </div>
    <div *ngIf="user.id==c.userId" class="col-md-1">
        <p>{{c.userId}}</p>
    </div>
    <div *ngIf="user.id==c.userId" class="col-md-2">
        <p>{{c.pickup_location}}</p>
    </div>
    <div *ngIf="user.id==c.userId" class="col-md-2">
        <p>{{c.dropof_location}}</p>
    </div>

    <div *ngIf="user.id==c.userId" class="col-md-1">
        <p>{{c.date}}/{{c.month}}/{{c.year}}</p>
    </div>
    <div *ngIf="user.id==c.userId" class="col-md-2">
        <p>{{c.hour}}:{{c.min}}:{{c.period}}</p>
    </div>
    <div *ngIf="user.id==c.userId" class="col-md-1">
        <a><mat-icon fontIcon="close"></mat-icon></a>
    </div>
</div> -->
