
<header class="ola-header sticky">
  <div class="secondary-header">
    <div class="max-width">
        <div class="pull-left">

            <a
            routerLink="/home"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >

            <i style="font-size:48px;color:black" class="fa fa-user-md"></i>
            <span style="margin-left:20px">Doctor_Appointment</span>
          </a>
        </div>
        <div class="pull-right">
            <div class="secondary-links hide-xs">
                <a [routerLink]="'/home'">Home</a>
                <a *ngIf="!isLoggedIn" href="/doctorlist">Doctor List</a>
                <!-- <a  *ngIf="!isLoggedIn" href="">Pricing</a> -->
                <a  *ngIf="!isLoggedIn" href="/contact">Contact</a>
                <!-- <a  *ngIf="!isLoggedIn" href="">Features</a> -->
                <a  *ngIf="isLoggedIn" [routerLink]="'/user'">{{ user.username }}</a>
                <a  *ngIf="!isLoggedIn" [routerLink]="'/login'" class="login-link event-elem">Login</a>
                <a  *ngIf="isLoggedIn" (click)="logout()" class="login-link event-elem">Logout</a>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
</header>

