<div class="row mt-5">
    <div class="col-md-12 mt-10">

        <mat-card class="text-center">
          <img style="max-width: 10%;" src="../../../../../assets/moderator.jpg" alt="">

            <h1 class="text-center" style="font-weight: bolder;">Admin List</h1>

            <div class="row mt-10" style="color:black ;font-weight:bolder">

                <div class="col-md-2 ">
                   <h1>User Name</h1>
                </div>


                <div class="col-md-2 ">
                    <h1>First Name</h1>
                </div>

                <div class="col-md-2 ">
                    <h1>Last Name</h1>
                </div>

                <div class="col-md-2">
                    <h1>Email</h1>
                </div>

                <div class="col-md-2 ">
                    <h1>Phone</h1>

                </div>
               </div>
<hr>

           <div *ngFor="let u of admins " class="row">
            <div class="col-md-2">
               <h4>{{u.username}}</h4>
            </div>

            <div class="col-md-2 ">
                <h4>{{u.firstName}}</h4>
            </div>

            <div class="col-md-2 ">
                <h4>{{u.lastName}}</h4>
            </div>

            <div class="col-md-2 ">
                <h4>{{u.email}}</h4>
            </div>

            <div class="col-md-2 ">
                <h4>{{u.phone}}</h4>
            </div>
           </div>
        </mat-card>

    </div>
</div>



<!-- <mat-card>

  <mat-card-content>
      <div >
          <div class="text-center">
              <img img-fluid class="profile-pic"
                  src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_1280.png" alt="">

              <h1 class="pt-2">{{user.firstName}} {{user.lastName}}</h1>
          </div>

                <table class="table mt-6">
                  <tr>
                      <td>Username</td>
                      <td>{{user.username}}</td>
                  </tr>
                  <tr>
                      <td>Userid</td>
                      <td>{{user.id}}</td>
                  </tr>
                  <tr>
                      <td>Phone</td>
                      <td>{{user.phone}}</td>
                  </tr>
                   <tr>
                      <td>Role</td>
                      <td>{{user.authorities[0].authority}}</td>
                  </tr>
                  <tr>
                    <td>First Name</td>
                    <td>{{user.firstName}}</td>
                </tr>
                <tr>
                  <td>Last Name</td>
                  <td>{{user.lastName}}</td>
              </tr>
              <tr>
                <td>Email</td>
                <td>{{user.email}}</td>
            </tr>
                  <tr>
                      <td>Status</td>
                      <td>{{user.enabled?"Active":"NOTACTIVE"}}</td>
                  </tr>
                </table>
              </div>


  </mat-card-content>
  <mat-card-actions class="text-center">
      <button mat-raised-button color="black">UPDATE</button>
      <button mat-raised-button color="black">SHARE</button>
  </mat-card-actions>

</mat-card> -->
